In [1]:
engine = sqlalchemy.create_engine('postgresql://postgres:putchik12@localhost:5432/trial_data')
query = 'SELECT * FROM oasis_dataframe;'

df = pd.read_sql(query, engine)
df['date'] = pd.to_datetime(df['last_name'], format='%Y-%m-%d')

NameError: name 'sqlalchemy' is not defined

In [2]:

df['month'] = df['date'].dt.month
monthly_counts = df['month'].value_counts().reset_index()
monthly_counts.columns = ['month', 'count']
month_order = [
    'January', 'February', 'March', 'April', 'May', 'June',
    'July', 'August', 'September', 'October', 'November', 'December'
]
cat_dtype = pd.CategoricalDtype(categories=month_order, ordered=True)
cat_dtype
CategoricalDtype(categories=['January', 'February', 'March', 'April', 'May', 'June',
                  'July', 'August', 'September', 'October', 'November',
                  'December'],
, ordered=True, categories_dtype=object)
monthly_counts = monthly_counts.sort_values(by='month')
monthly_counts['month'] = monthly_counts['month'].map(lambda s : month_order[int(s) - 1])
print(monthly_counts)
plt.figure(figsize=(10, 6))
plt.bar(monthly_counts['month'], monthly_counts['count'])
plt.xlabel('Month')
plt.ylabel('Count')
plt.title('Number of Rows per Month')
plt.show()

SyntaxError: invalid syntax (1428330785.py, line 13)